/*Common Component CSS*/
.inputField, .inputButton {
  border-radius: 5px;
  font-size: 18px;
  padding: 12px 12px;
  margin-bottom: 15px;
  box-sizing: border-box;
  display: block;
  border: 1px solid grey;
}
.inputButton {
  color: #1bbc9b !important;
  background: #ffffff !important;
  font-size: 22px !important; 
}
.flex1 {
  flex: 1;
}
.backdrop {
  z-index: 10 !important;
}
.backdropCircle {
  color: #ffffff !important;
}

/*Login Screen CSS*/
.loginScreenContainer {
  height: 100%;
  width: 100%;
  background-color: #1bbc9b;
  text-align: center;
}
.loginScreenHeader {
  color: #ffffff;
  top: 60px;
  position: relative;
}
.loginScreenHeader > div:nth-of-type(1) {
  font-size: 60px;
}
.loginScreenHeader > div:nth-of-type(2) {
  font-size: 22px;
}
.loginForm {
  top: 140px;
  position: relative;
}
.loginScreenInputField, .loginScreenInputButton {
    width: 80%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}
.toggleLoginSignupView {
  margin-top: 10px;
  color: #fff;
  text-decoration: underline;
}
.loginError {
  color: #ffffff;
  background: #de0000;
  width: 80%;
  max-width: 500px;
  margin: 0 auto;
  margin-top: 15px;
  border-radius: 5px;
  padding: 4px 0px;
}
.toggleLoginSignupView {
  cursor: pointer;
}

/*Update Profile Screen*/
.updateProfileScreenContainer {
  width: 85%;
  margin: 0 auto;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.updateProfileScreenContainer .section:not(:last-of-type) {
  margin-bottom: 30px;
}
.updateProfileScreenContainer .section:first-of-type {
    margin-top: 30px;
}
.updateProfileScreenContainer .section:last-of-type {
    margin-bottom: 25px;
}
.updateProfileScreenContainer .sectionHeader {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
}
.updateProfileScreenContainer .sectionHeaderHint {
  color: grey;
  font-size: 12px;
  font-weight: normal;
}
.updateProfileScreenContainer .genderSelector {
  display: flex;
  justify-content: space-between;
}
.updateProfileScreenContainer .genderSelector > div {
  width: 44%;
  text-align: center;
  border-radius: 5px;
  font-size: 18px;
  padding: 12px 12px;
  margin-bottom: 15px;
  box-sizing: border-box;
  display: block;
  border: 1px solid grey;
  cursor: pointer;
}
.updateProfileScreenContainer .genderSelector .activeGender {
  background-color: #1bbc9b;
  color: #ffffff;
}
.updateProfileScreenContainer .genderSelector .activeGender:hover {
  background-color: #0a9f81;
}
.updateProfileScreenContainer .genderSelector .inActiveGender:hover {
  background-color: #eeeeee;
}
.updateProfileScreenContainer .updateProfileButton {
    background-color: #1bbc9b;
    color: #fff;
    width: 48px;
    height: 48px;
    display: flex;
    border-radius: 50%;
    font-size: 44px;
    align-items: flex-end;
    justify-content: space-around;
    float: right;
    cursor: pointer;
}
.updateProfileScreenContainer .updateProfileButton:hover {
  background-color: #0a9f81;
}

/*Listing Screen*/
.ListingScreenContainer {
  background: #eeeeee;
}
.ListingScreenContainer .header {
  background: #ffffff;
  min-height: 60px;
  position: sticky;
  top: 0;
  display: flex;
  width: 100%;
  -moz-box-shadow: 3px 3px 5px 3px #ccc;
  -webkit-box-shadow: 3px 3px 5px 3px #ccc;
  box-shadow: 3px 3px 5px 3px #ccc;
  align-items: center;
  background-color: #1bbc9b;
  z-index: 1;
}
.ListingScreenContainer .header .headerIcons {
  font-size: 24px;
  color: #ffffff;
}
.headerTitle {
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
}
.fab {
  position: fixed !important;
  bottom: 12px;
  right: 12px;
  background: #1bbc9b !important;
}
.listContainer {
  padding: 8px;
}


/*Post*/
.postContainer {
  margin-bottom: 15px;
}
.postImage {
  padding-top: 100%;
}


/*Side Menu*/
.drawerContainer {
  width: 250px;
}
.drawerHeader {
  background: #1bbc9b;
  min-height: 60px;
  display: flex;
  align-items: center;
  color: #ffffff;
  font-size: 28px;
  padding: 0 10px;
  letter-spacing: 1px;
}
